// Custom bvariables
$primary: #5265e1;
$secondary: #fa5959;

$bnt-firefox-color: rgb(80, 80, 80);

// nav
$navbar-light-color: #000;
$navbar-light-hover-color: $secondary;

$btn-hover-bg-color: green;

// Importar bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

/*****************************************
        Modificar css normal
******************************************/

// Menu
.navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
}

.navbar-light .navbar-nav .active {
	color: $secondary !important;
}

// Botones
.btn-secondary {
	color: $body-bg;

	&:hover {
		color: $secondary;
		background-color: $body-bg;
	}
	&:active {
		color: $secondary;
		background-color: $body-bg;
	}
	&:focus {
		color: $secondary;
		background-color: $body-bg;
	}
}

.btn-firefox {
	color: black;
	background-color: $body-bg;
	border-color: $bnt-firefox-color;

	&:hover {
		background-color: $bnt-firefox-color;
	}
	&:active {
		background-color: $bnt-firefox-color;
	}
	&:focus {
		background-color: $bnt-firefox-color;
	}
}

// Imágen de fondo

.fondo-forma-azul {
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 25%;
		z-index: -1;
		width: calc(100% - 95px);
		height: 20em;
		background: $primary;
		border-top-left-radius: 25rem;
		border-bottom-left-radius: 25rem;
		transform: translateY(-25%);
	}
}

// Tabs

.nav-tabs .nav-link.active {
	border-bottom: 6px solid red;
}

.fondo-forma-azul02 {
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 60%;
		left: 0%;
		z-index: -1;
		width: calc(100% - 95px);
		height: 15em;
		background: $primary;
		border-top-right-radius: 25rem;
		border-bottom-right-radius: 25rem;
		transform: translateY(-25%);
	}
}

// Cards

@media (min-width: 991px) {
	.card01 {
		margin-top: 50px !important;
	}
	.card02 {
		margin-top: 100px !important;
	}
	.card03 {
		margin-top: 150px !important;
	}
}



// Footeer

.fondoAzul {
	background-color: $primary;
	color: white;
}

.footer-txt01 {
	letter-spacing: 0.25em;
}

.form-control::placeholder {
	font-size: 1rem;
}

#footer-menu {
	background-color: shade-color($primary, 50);
	
	a {
		color: white;
		&:hover {
			color: $secondary;
		}
	}
	
	.footer-icon {
		&:hover .icon {
			fill: $secondary;
		}
	}

	.logoBlanco {
		&:hover .img {
			fill: $secondary;
		}
	}
}
